<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EventNotifier.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <EventNotifier.Settings>
            <setting name="duration" serializeAs="String">
                <value>3500</value>
            </setting>
            <setting name="showOnDeath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showOnSpawn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showSkullShrine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showCubeGod" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showPentaract" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showGrandSphinx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showAvatar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showHermit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showLordoftheLostLands" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showAsiaEast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showAsiaSouthEast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showEUEast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showEUNorth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showEUSouthWest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showEUWest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showUSEast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showUSEast2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showUSEast3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showUSMidWest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showUSMidWest2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showUSNorthWest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showUSSouth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showUSSouth2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showUSSouth3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showUSSouthWest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showUSWest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showUSWest2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showUSWest3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showCrystal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showGhostShip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="playSoundDeath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="playSoundSpawn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showLastLich" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showOnCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="soundOnCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showPhoenixLord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showEntAncient" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showOasisGiant" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showGhostKing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showCyclopsGod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showRedDemon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showRockDragon" serializeAs="String">
                <value>True</value>
            </setting>
        </EventNotifier.Settings>
    </userSettings>
</configuration>